	<!-- <div class="jumbotron py-4 font-weight-light bg-gray-800 text-gray-300 ">
			<div class="align-items-center row">
				<div class="text-center text-md-left col-md-6">
					<p class="text-sm mb-md-0">© 2020, Your company.  All rights reserved.</p>
				</div>
				<div class="col-md-6">
					<ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right">
						<li class="list-inline-item">
							<img src="/content/svg/visa.svg" alt="..." class="w-2rem">
						</li>
						<li class="list-inline-item">
							<img src="/content/svg/mastercard.svg" alt="..." class="w-2rem">
						</li>
						<li class="list-inline-item">
							<img src="/content/svg/paypal.svg" alt="..." class="w-2rem">
						</li>
						<li class="list-inline-item">
							<img src="/content/svg/western-union.svg" alt="..." class="w-2rem">
						</li>
					</ul>
				</div> -->
	</body>
</html>