<%- include("./partials/header") %>
	<section id="header" class="jumbotron text-center" style="background-image: url(about.jpeg); width:100%;height:auto;background-size: contain;">
			<h1 class="display-4">About Us</h1>
			<p class="lead">"Lorem ipsum dolor sit amet, consectetur 	adipiscing elit,magna aliqua.</p>
	</section>
	<div class="jumbotron text-center">
		<strong><p>Welcome To Destination</p></strong>		
		<p>This is what comes to your mind after hearing its name.This is the ultimate destination of all your needs.This is a multi-purpose website where you can do different things.Here,you can learn different things from different websites.You can also do documentation of your notes in any format and can convert them into different formats and so on..You can also take information about your favourite sports.You can also register yourself on this website.You can do manythings on website using your account.So,what are you all waiting for?.This website can lead you towards your dreams. </p>
</div>
<%- include("./partials/footer") %>
