<%- include("./partials/header") %>
	<img src="home.jpeg" class="adjust">
	<div class="container">
		<div class="row">
			<div id="card" class="col">
				<center class="display-4 service">Things You Can Do</center>
			</div>
		</div>
		<div class="row service">
			<div class="col-md-3 col-sm-6 ">
					<img src="a.jpeg">
				<p>You can know about us using about tab.</p>
			</div>
			<div class="col-md-3 col-sm-6 ">
				<img src="ej.png">
				<p>You can do studies from different websites using education tab.</p>
			</div>
			<div class="col-md-3 col-sm-6 ">
				<img src="j.jpeg">
				<p>You can do document related work using documentation tab.</p>
			</div>
			<div class="col-md-3 col-sm-6 ">
				<img src="sp.jpeg">
				<p>You can take knowledge about sports using sports tab.</p>
			</div> 
		</div>
	</div>
<%- include("./partials/footer") %>
