<%- include("./partials/header") %>
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<h1 class="display-4">Login Form</h1>
		<form action="/login" method="POST">
			<input class="lead" type="text" name = "username" placeholder="username">
			<input class="lead" type="password" name = "password" placeholder="password">
			<button>Submit</button>
		</form>
	  </div>
	</div>
<%- include("./partials/footer") %>
